<nav class="bg-[#DC291E] p-4">
    <div class="container-fluid mx-auto flex items-center justify-between">
        <div class="flex items-center">
            <!-- Logo -->
            <img src="/images/aramex-logo.svg" alt="Logo" class="h-10">
        </div>
    </div>
</nav>